@mixin breakpoint($device) {
  @media only screen and (min-width: $device) {
    @content;
  }
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/**
 * Text Slide Up
 */
@mixin nth-animation-delay($items: 3, $time: 0.2s) {
  @for $i from 1 through $items {
    &:nth-child(#{$i}) {
      animation-delay: $time * ($i - 1);
    }
  }
}

/**
 * Animations
 */
@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slide-down {
  0% {
    transform: translate3d(0, -30%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes card-slide-up {
  0% {
    opacity: 0;
    transform: translate3d(0, 25%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-out-in {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@mixin hide-scrollbar {
  &::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
  }
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
