$black: #000000;
$white: #ffffff;
$beige: #f6f6f6;
$darkGray: #5f5f5f;
$blueyGray: #939598;
$gray: #999999;
$mediumGray: #7c7e80;
$lightGray: #e2e2e2;
$red: #ed1c24;
$borderGray: #888888;

$tablet: 768px;
$tabletLandscape: 1024px;
$desktop: 1200px;
$desktopWide: 1800px;
